html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	background-color: #F2F2F2;
}

table {
    font-size: 90%;
    margin-bottom: 10.5px;
    max-width: 100%;
    overflow-x: auto;
}
th, td {
    padding: 0 0.8rem;
}
tbody tr:nth-child(odd) {
    background: #e4e4e4;
}
tbody tr code {
    background: none;
}
td + td, th + th {
    border-left: 1px #C0C0C0 solid;
}

.irc-version {
    font-size: 74%;
    vertical-align: 2px;
    margin-left: 0.34rem;
    color: #6694AA;
}
.irc-version + .sw-version {
    padding-left: 0.5em;
}
.dead-software {
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.16rem;
}
.dead-software:before {
    content: "(";
}
.dead-software:after {
    content: ")";
}

.sw-table {
  overflow-x: auto;
  width: 100%;
  margin: 0 auto;
}
.sw-table > table {
  min-width: 100%;
}
.sw-table + h3 {
  margin-top: 2.35em;
}
.sw-table tr:not(:first-child) {
  border-top: 1px #C0C0C0 solid;
}
.sw-table tbody tr, .sw-table tbody tr .support {
  transition: background 200ms;
}
.sw-table tbody tr:hover {
  background-color: #eee;
}
.sw-table tbody tr:hover:nth-child(odd) {
  background-color: #ddd;
}
.sw-table tbody tr:hover .supported {
  background-color: #8fea94;
}
.sw-table tbody tr:hover .unsupported {
  background-color: rgba(243, 150, 146, 0.5);
}
.sw-table tbody tr:hover .unsupported.required {
  background-color: #f39692;
}
.sw-table tbody tr:hover .partial {
  background-color: #ecec90;
}
.sw-table tbody tr:first-child, .sw-table tbody tr:first-child td:first-child {
  border-top-left-radius: 0.25em;
}
.sw-table tbody tr:first-child td:last-child {
  border-top-right-radius: 0.25em;
}
.sw-table tbody tr:last-child, .sw-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.25em;
}
.sw-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.25em;
}
a.irc-extension {
  margin: 0 0.5rem;
}
.sw-table .name {
  width: 12em;
}
.sw-table .support-head {
  text-align: center;
  font-size: 95%;
}
.sw-table .support {
  min-width: 2em;
  text-align: center;
  padding: 0.3em 0.5em;
}
.sw-table .supported {
  background-color: #a7eeaa;
  color: #0E3010;
}
.sw-table .partial {
  background-color: #eeeeaa;
  color: #303010;
}
.sw-table .na {
  background-color: #ddd;
  color: #101010;
}
.sw-table .unsupported {
  background-color: rgb(247, 213, 211);
  color: #303010;
}
.sw-table .unsupported.required {
  background-color: #eeaaa7;
  color: #30100E;
}
.sw-table td.required + td.optional {
  border-left: 5px solid white;
}
.sw-table td note desc {
  vertical-align: super;
  font-size: 80%;
  color: #338;
  font-style: italic;
}
.sw-table td note > box {
  position: absolute;
}
.sw-table td note > box > box {
  position: relative;
  top: -5em;
  max-width: 14em;
  padding: 0.7em;
  background: #eee;
  border-radius: 0.5em;
  border: #99b 1px dashed;
  box-shadow: 2px 3px 3px rgba(20, 20, 20, 0.2);
  display: none;
}
.sw-table td note:hover box {
  display: block;
}

.navbar, .navbar-inverse .dropdown-menu {
	background-color: #145960;
	border-color: #145960;
}

.marketing-text {
	text-align: center;
}

.alert {
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	border-radius: 0.6rem;
}

.alert-info, .btn-primary {
	background-color: #145960;
	border-color: #0C4248;
}

.alert-success, .btn-success {
	background-color: #355;
	border-color: #355;
}

.alert-warning, .btn-warning {
	color: black;
}

.alert-danger, .btn-danger {
	color: black;
}

.github, .github:hover {
	color: #435;
}

.projects, .projects:hover {
	color: #355;
}

.blog, .blog:hover {
	color: #145960;
}

.alert > a, .noline, .noline:hover {
	text-decoration: none;
}

.alert > a:hover {
	color: #FFF;
	text-decoration: underline;
}

.btn-warning:hover, .btn-warning:focus {
	background-color: #759;
	border-color: #759;
}

.btn-success:hover, .btn-success:focus {
	background-color: #399;
	border-color: #399;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #337F87;
	border-color: #337F87;
}

a, .page-header > h1 {
	color: #145960;
}

.lead {
	color: #000;
}
.copyrights {
  font-style: italic;
}
.warning {
  color: #c24;
}

a:hover, a:focus {
	color: #337F87;
}

.navbar-nav a {
	transition: background 0.05s ease-in;
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:active{
	background-color: #337F87;
}

.navbar .dropdown-menu > li > a, .dropdown-toggle:hover, .dropdown-toggle:active {
	background-color: #145960;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:active, .navbar-inverse .navbar-nav > .open > a  {
	background-color: #337F87;
}

.row {
	padding: 0px 0px 0px 0px;
}

.frontpage .btn-primary {
	margin-top: 1rem;
	transition: background 0.05s ease-in;
	border-radius: 3px
}

.flexy-list {
    max-width: 90rem;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto 0.6rem;
}
.flexy-list > a {
    display: inline-block;
    padding: 0.75rem 2rem;
}

.spec-link {
    font-size: 3rem;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center
}
.spec-light-go {
    color: #cfc;
}
.spec-go {
    color: #4b4;
}
.spec-light-holdup {
    color: #fec;
}
.spec-holdup {
    color: #da4;
}
.spec-light-stop {
    color: #fcc;
}
.spec-stop {
    color: #d44;
}
.os-support {
    color: #666;
    margin-top: -0.1rem;
    margin-left: 1rem;
    float: right;
}
.os-support i + i {
    margin-left: 0.5rem;
}
.os-support-windows-phone {
    color: #229eda;
}
.os-support-ios {
    color: #444;
}
.os-support-android {
    color: #9fc234;
}

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin: 1rem 0 0;
  height: 3.9rem;
  font-size: 1.3rem;
}
footer .container {
	border-top: 1px solid #ddd;
}
footer p {
	margin: 1rem 0 0;
	padding: 0;
}
