---
---
/* fonts */

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-bold-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-bold-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-bold-italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-extrabold-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-extrabold-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-extrabold-italic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-extralight-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-extralight-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-extralight-italic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-heavy-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-heavy-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-heavy-italic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-light-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-light-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-light-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-regular-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-semibold-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-semibold-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-semibold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-thin-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('{{ site.baseurl }}/fonts/overpass-thin-italic-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-thin-italic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('{{ site.baseurl }}/fonts/overpass-mono-bold-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-mono-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('{{ site.baseurl }}/fonts/overpass-mono-light-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-mono-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('{{ site.baseurl }}/fonts/overpass-mono-regular-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-mono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('{{ site.baseurl }}/fonts/overpass-mono-semibold-webfont.woff2') format('woff2'),
         url('{{ site.baseurl }}/fonts/overpass-mono-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Overpass", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

code, kbd, pre, samp {
    font-family: "Overpass Mono", Menlo,Monaco,Consolas,"Courier New",monospace;
}

.navbar-brand {
    display: inline-block !important;
}
.navbar-brand img {
    height: 18px;
    padding-bottom: 2px;
}

.navbar-collapse {
    overflow-y: visible;
    max-height: none;
}

/* bootstrap's mobile/etc width */
@media screen and (max-width: 991px) {
    .navbar-collapse .dropdown-menu {
        /*display: block;*/
        float: none;
        position: inherit;
    }
}


/* rest */
html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	background-color: #F2F2F2;
    font-family: "Overpass", sans;
    font-size: 1.7rem;
}

table {
    font-size: 90%;
    margin-bottom: 10.5px;
    max-width: 100%;
    overflow-x: auto;
}
th {
    font-weight: 600;
}
th, td {
    padding: 0 0.8rem;
}
tbody tr:nth-child(odd) {
    background: #e4e4e4;
}
tbody tr code {
    background: none;
}
td + td, th + th {
    border-left: 1px #aaa solid;
}

.page-header {
    margin-top: 0;
}

.irc-version {
    font-size: 74%;
    vertical-align: 2px;
    margin-left: 0.34rem;
    color: #6694AA;
}
.irc-version + .sw-version {
    padding-left: 0.5em;
}
.dead-software {
    font-size: 80%;
    font-weight: bold;
    margin-left: 0.16rem;
}
.dead-software:before {
    content: "(";
}
.dead-software:after {
    content: ")";
}

.sw-table {
  overflow-x: auto;
  overflow-y: visible;
  margin: 0 auto;
}
.sw-table > table {
  width: auto;
  min-width: 30.65%; /* pulled out of the air because it looks nice */
}
.sw-table.fullwidth > table {
  width: calc(100% - 1px);
}
.sw-table + .sw-table {
    margin-top: 1rem;
}
.sw-table + h3 {
  margin-top: 2.35em;
}
.sw-table tbody tr:first-child{
  border-top: 1px rgba(0,0,0,0.01) solid;
}
.sw-table tbody tr:last-child{
  border-bottom: 1px rgba(0,0,0,0.01) solid;
}
.sw-table tbody tr:not(:first-child) {
  border-top: 1px #C0C0C0 solid;
}
.sw-table tbody tr, .sw-table tbody tr .support {
  transition: background 200ms;
}
.sw-table tbody tr:hover {
  background-color: #eee;
}
.sw-table tbody tr:hover:nth-child(odd) {
  background-color: #ddd;
}
.sw-table tbody tr:hover .supported {
  background-color: #8fea94;
}
.sw-table tbody tr:hover .unsupported {
  background-color: rgba(243, 150, 146, 0.5);
}
.sw-table tbody tr:hover .unsupported.required {
  background-color: #f39692;
}
.sw-table tbody tr:hover .partial {
  background-color: #ecec90;
}
.sw-table tbody tr:first-child, .sw-table tbody tr:first-child td:first-child {
  border-top-left-radius: 0.25em;
}
.sw-table tbody tr:first-child td:last-child {
  border-top-right-radius: 0.25em;
}
.sw-table tbody tr:last-child, .sw-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.25em;
}
.sw-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.25em;
}
a.irc-extension {
  margin: 0 0.5rem;
}
.sw-table .name {
  min-width: 12rem;
  white-space: nowrap;
}
.sw-table .support-head {
  vertical-align: top;
  text-align: center;
  font-size: 95%;
}
.sw-table .support {
  min-width: 10rem;
  max-width: 27rem;
  text-align: center;
  padding: 0.3em 0.5em;
}
.sw-table .supported {
  background-color: #a7eeaa;
  color: #0E3010;
}
.sw-table .partial {
  background-color: #eeeeaa;
  color: #303010;
}
.sw-table .na {
  background-color: #ddd;
  color: #101010;
}
.sw-table .unsupported {
  background-color: rgb(247, 213, 211);
  color: #303010;
}
.sw-table .unsupported.required {
  background-color: #eeaaa7;
  color: #30100E;
}
.sw-table tr.required + tr.optional, .sw-table tr.optional + tr.draft {
  border-top: 0.5rem solid #aaa;
}
.sw-table td note desc {
  vertical-align: super;
  font-size: 80%;
  color: #338;
  font-style: italic;
}
.sw-table td note > box {
  position: absolute;
}
.sw-table td note > box > box {
  position: relative;
  top: -5em;
  max-width: 14em;
  padding: 0.7em;
  background: #eee;
  border-radius: 0.5em;
  border: #99b 1px dashed;
  box-shadow: 2px 3px 3px rgba(20, 20, 20, 0.2);
  display: none;
}
.sw-table td note:hover box {
  display: block;
}
.sw-note {
  text-align: center;
  color: #6b6b6b;
  font-size: 1.2rem;
}
.sw-sublinks a {
  display: block;
}
.sw-sublinks:first-of-type a {
  margin-top: 0.25rem
}
.sw-table .ircd-ver {
  display: block;
  color: #6b6b6b;
  font-size: 1.2rem;
}
.sw-table .net-address {
  display: block;
  margin-bottom: 0.3rem;
}

/* hover popups */
.hover-popup {
    display: none;
    position: relative;
    left: 50%;
    white-space: nowrap;
    width: 0;
}
.support:hover {
    border: 1px rgba(20, 20, 20, 0.65) solid;
}
.support:hover .hover-popup {
    display: block;
}
.support .hover-popup > div {
    position: absolute;
    float: right;
    background: #333;
    border: 1px #111 solid;
    padding: 0.75rem 1.25rem;
    color: #f7f7f7;
    text-align: left;
    left: 0;
    border-radius: 0.5rem;
    z-index: 999;
    transform: translateX(-50%);
}
.sw-table.fullwidth .support:last-child .hover-popup {
    left: initial;
    right: -20%;
}
.support .hover-popup > div p {
    margin-bottom: 0;
}
.support .hover-popup > div p + p {
    margin-top: 0.25;
}
.support .hover-popup > div p.note {
    margin-top: 0.3rem;
    border-top: 1px rgba(20, 20, 20, 0.3) solid;
    padding-top: 0.1rem;
}
.support .hover-popup > div p code {
    color: #e7e7a7;
}

tr.popup-below .hover-popup > div {
    top: 2rem;
}
tr.popup-below .support .hover-popup > div:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #333;
	border-width: 0.9rem;
	margin-left: -0.9rem;
}

tr.popup-above .hover-popup > div {
    transform: translate(-50%, calc(-100% - 2rem));
}
tr.popup-above .support .hover-popup > div:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
    border-top-color: #333;
	border-width: 0.9rem;
	margin-left: -0.9rem;
}
.sw-table.fullwidth tr .support:not(:first-child):last-child .hover-popup > div:after {
    left: 72.5%;
}

.sw-table .support.supported .hover-popup > div {
  background: #382;
  border-color: #271;
}
.sw-table tr.popup-below .support.supported .hover-popup > div:after {
  border-bottom-color: #271;
}
.sw-table tr.popup-above .support.supported .hover-popup > div:after {
  border-top-color: #271;
}
.sw-table .support.unsupported .hover-popup > div {
  background: #833;
  border-color: #722;
}
.sw-table tr.popup-below .support.unsupported .hover-popup > div:after {
  border-bottom-color: #722;
}
.sw-table tr.popup-above .support.unsupported .hover-popup > div:after {
  border-top-color: #722;
}
.sw-table .support.partial .hover-popup > div {
  background: #707232;
  border-color: #606222;
}
.sw-table tr.popup-below .support.partial .hover-popup > div:after {
  border-bottom-color: #606222;
}
.sw-table tr.popup-above .support.partial .hover-popup > div:after {
  border-top-color: #606222;
}
.sw-table .support.na .hover-popup > div {
  background: #666;
  border-color: #555;
}
.sw-table tr.popup-below .support.na .hover-popup > div:after {
  border-bottom-color: #555;
}
.sw-table tr.popup-above .support.na .hover-popup > div:after {
  border-top-color: #555;
}

.bold, strong, b {
  font-weight: 700;
}

.navbar, .navbar-inverse .dropdown-menu {
	background-color: #145960;
	border-color: #145960;
}

.marketing-text {
	text-align: center;
    font-size: 1.7rem;
}
/* bootstrap's mobile/etc width */
@media screen and (max-width: 991px) {
    .marketing-text + .marketing-text {
	    margin-top: 3rem;
    }
}
.marketing-text h1 {
    margin-top: 1rem;
}
h1:not(:first-of-type) {
    margin-top: 3rem;
}
h2 {
    margin-top: 3rem;
}

.alert {
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	border-radius: 0.6rem;
}

.alert-info, .btn-primary {
	background-color: #145960;
	border-color: #0C4248;
}

.alert-success, .btn-success {
	background-color: #355;
	border-color: #355;
}

.alert-warning, .btn-warning {
	color: #300;
	font-weight: bold;
}

.alert-danger, .btn-danger {
	color: #300;
	font-weight: bold;
}

.github, .github:hover {
	color: #435;
}

.projects, .projects:hover {
	color: #355;
}

.blog, .blog:hover {
	color: #145960;
}

.alert > a, .noline, .noline:hover {
	text-decoration: none;
}

.alert > a:hover {
	color: #FFF;
	text-decoration: underline;
}

.btn-warning:hover, .btn-warning:focus {
	background-color: #759;
	border-color: #759;
}

.btn-success:hover, .btn-success:focus {
	background-color: #399;
	border-color: #399;
}

.btn-primary:hover, .btn-primary:focus {
	background-color: #337F87;
	border-color: #337F87;
}

.page-header > h1 {
  color: #14565D;
}
.lead a {
	color: #00646F;
}

a {
	color: #0B7884;
}
a:hover, a:focus {
	color: #2795A1;
}

.lead {
	color: #000;
}
.copyrights {
  font-style: italic;
}
.warning {
  color: #c24;
}

.navbar-nav a {
	transition: background 0.05s ease-in;
    font-size: 1.4rem !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}
.navbar-nav hr {
	margin: 0;
}
li.sep {
    border-top: solid 1px #f8f8f8;
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:active{
	background-color: #337F87;
}

.navbar .dropdown-menu > li > a, .dropdown-toggle:hover, .dropdown-toggle:active {
	background-color: #145960;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > .active > a, .navbar .dropdown-menu > .active > a:hover, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:active, .navbar-inverse .navbar-nav > .open > a  {
	background-color: #337F87;
}

.row {
	padding: 0px 0px 0px 0px;
}

.frontpage .btn-primary {
	margin-top: 1rem;
	transition: background 0.05s ease-in;
	border-radius: 3px
}

.flexy-list {
    max-width: 90rem;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto 0.6rem;
}
.flexy-list > a {
    display: inline-block;
    padding: 0.75rem 2rem;
}

.center-text {
    text-align: center;
}

#home-slider-wrapper {
    background: #145960;
    width: 100%;
    margin-top: 1.25rem;
    color: white;
}
.homepage-features {
    font-size: 1.7rem;
    display: table;
    margin: 0 auto;
    padding-right: 2rem;
    max-width: 97rem;
}
#home-slider-wrapper a {
    color: #9eb;
}
.mono {
    font-family: "Overpass Mono", Menlo,Monaco,Consolas,"Courier New",monospace;
    font-weight: bold;
}
#home-slider-wrapper > div > div {
    margin: 2.5rem 0;
}
#home-graph > canvas {
    box-shadow: 0px 0px 1rem 1.5rem #F2F2F2 inset;
}
.row.frontpage {
    margin: 2rem auto;
}

body.post .navbar {
    margin-bottom: 0;
}
#home-slider-wrapper.post {
    background: #62888C;
    margin-top: 0;
}

.spec-link {
    font-size: 3rem;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center
}
.spec-light-go {
    color: #cfc;
}
.spec-go {
    color: #4b4;
}
.spec-light-holdup {
    color: #fec;
}
.spec-holdup {
    color: #da4;
}
.spec-light-stop {
    color: #fcc;
}
.spec-stop {
    color: #d44;
}
.os-support {
    color: #666;
    margin-top: -0.1rem;
    margin-left: 1rem;
    float: right;
}
.os-support i + i {
    margin-left: 0.5rem;
}
.os-support-windows-phone {
    color: #229eda;
}
.os-support-ios {
    color: #444;
}
.os-support-android {
    color: #9fc234;
}

.post-content {
    border-left: 1px solid #d7d7d7;
    padding-left: 2rem
}
.meta {
    color: #444;
    font-size: 1.25rem;
}

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 3.9rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin: 1rem 0 0;
  height: 3.9rem;
  font-size: 1.3rem;
}
footer .container {
	border-top: 1px solid #ddd;
}
footer p {
	margin: 1rem 0 0;
	padding: 0;
}
footer .ircv3-logo {
    display: inline-block;
    max-height: 1.04rem;
    width: auto;
    margin: 0 0.2rem 0.6rem 0.2rem;
}
