### {{ type.name }}

<div class="sw-table"><table>
    <colgroup class="name"></colgroup>
    <colgroup class="support"></colgroup>
    <colgroup class="extensions"></colgroup>
    <thead>
        <th></th>
        {% for ext in site.data.irc_core %}
        <th colgroup="2" class="support-head"><a title="{{ ext[1].description }}" href="{{ ext[1].link }}">{{ ext[1].name }}</a></th>
        {% endfor %}
        <!-- <th colgroup="3">Extensions</th> -->
    </thead>
    <tbody>
        {% for sw in type.software %}
        <tr>
            <td>
                {% if sw.link %}<a href="{{ sw.link }}">{{ sw.name }}</a>{% else %}{{ sw.name }}{% endif %}
                {% if sw.dead %}<span class="dead-software">dead</span>{% endif %}
            </td>
            {% for ext in site.data.irc_core %}
            <td colgroup="2" class="support {% if sw.support contains ext[0] %}supported{% elsif sw.partial contains ext[0] %}partial{% else %}unsupported{% endif %}">
                {% capture ext_name %}{{ ext[0] }}{% endcapture %}
                {% if sw.support contains ext[0] %}
                    {% if sw.support[ext_name] contains "ver" %}{{ sw.support[ext_name].ver }}
                    {% else %}Yes
                    {% endif %}
                {% elsif sw.partial contains ext[0] %}
                    {% if sw.partial[ext_name] contains "ver" %}{{ sw.partial[ext_name].ver }}
                    {% else %}Partial
                    {% endif %}
                {% else %}
                    No
                {% endif %}
            </td>
            {% endfor %}
            <!-- <td colgroup="3">
                {% for extension in sw.extensions %}
                    {% include extension.html %}
                {% endfor %}
            </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table></div>
