</div>

<div id="home-slider-wrapper"><div class="container">
      <div>
            <h2 class="center-text">IRCv3 Features</h2>

            <ul class="homepage-features">
                  <li>Standardised account login using SASL to speed up registration and authentication. <a href="http://ircv3.net/specs/extensions/sasl-3.1.html"><sup>[3.1]</sup></a> <a href="http://ircv3.net/specs/extensions/sasl-3.2.html"><sup>[3.2]</sup></a></li>
                  <li>Providing the account information of other clients for the development of more advanced client features. <a href="http://ircv3.net/specs/extensions/account-notify-3.1.html"><sup>[1]</sup></a> <a href="http://ircv3.net/specs/extensions/account-tag-3.2.html"><sup>[2]</sup></a> <a href="http://ircv3.net/specs/extensions/extended-join-3.1.html"><sup>[3]</sup></a></li>
                  <li>Optional metadata able to be attached to each message for easier, standardised extension development. <a href="http://ircv3.net/specs/core/message-tags-3.2.html"><sup>[link]</sup></a></li>
                  <li>Instant away notifications, to let users know when other users go away or come back more quickly. <a href="http://ircv3.net/specs/extensions/away-notify-3.1.html"><sup>[link]</sup></a></li>
                  <li>Grouping related messages to simplify the display of those messages to users. <a href="http://ircv3.net/specs/extensions/batch-3.2.html"><sup>[link]</sup></a></li>
            </ul>
      </div>
      <div>
            <h2 class="center-text">What We're Working On</h2>

            <ul class="homepage-features">
                  <li>Standardised account registration and verification, allowing clients to provide better interfaces for end users. <a href="https://github.com/ircv3/ircv3-specifications/pull/152"><sup>[link]</sup></a></li>
                  <li>Giving clients a standardised way to recognise, access and view chat history (provided by bouncers or servers). <a href="http://ircv3.net/specs/extensions/batch/chathistory-3.3.html"><sup>[link]</sup></a></li>
                  <li>Providing a mechanism to allow clients to automatically detect, move to, and keep using secure connections. <a href="http://ircv3.net/specs/core/sts-3.3.html"><sup>[link]</sup></a></li>
                  <li>Client avatars for display in graphical clients.</li>
            </ul>
      </div>
      <div>
            <h2 class="center-text">Participating Organizations</h2>

            <div class="flexy-list">
            {% for participant in site.data.participants %}
            <a class="participant" href="{{ participant.url }}">{{ participant.name }}</a>
            {% endfor %}
            </div>
      </div>
</div></div>

<div class="container">
