{% assign current = page.path | downcase | split: '/' %}
<div class="navbar" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      {% include logo-forwhite.html %}
    </a>
    <div class="navbar-collapse collapse">
      <ul class="links">
        <li{% if current[0] == 'index.md' %} class="active"{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li{% if current[0] == 'wg.html' %} class="active"{% endif %}><a href="{{ site.baseurl }}/wg.html">
          <span class="notablet">Working Group</span>
          <span class="tablet">WG</span>
        </a></li>
        <li{% if current[0] == 'faq.md' %} class="active"{% endif %}><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
        <li{% if current[0] == '_irc' %} class="active"{% endif %}><a href="{{ site.baseurl }}/irc/">
          <span class="notablet">Specifications</span>
          <span class="tablet">Specs</span>
        </a></li>
        <li{% if current[0] == 'software' %} class="active"{% elsif current[0] == 'support' %} class="active"{% endif %}><a href="#" class="dropdown-toggle" data-toggle="dropdown">Support<span class="notablet"> Tables</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/support/networks.html"><span class="fa fa-fw fa-sitemap"></span> Networks</a></li>
            <li><a href="{{ site.baseurl }}/software/clients.html"><span class="fa fa-fw fa-desktop"></span> Clients</a></li>
            <li><a href="{{ site.baseurl }}/software/servers.html"><span class="fa fa-fw fa-server"></span> Servers</a></li>
            <li><a href="{{ site.baseurl }}/software/libraries.html"><span class="fa fa-fw fa-code"></span> Libraries</a></li>
            <li class="sep"><a href="{{ site.baseurl }}/docs/sasl-mechs.html"><span class="fa fa-fw fa-key"></span> SASL Mechanisms</a></li>
          </ul>
        </li>
        <li class="iconsep"><a href="https://github.com/ircv3/"><span class="fa fw-fw fa-github"></span></a></li>
        <li class="iconsep {% if current[0] == 'contact.html' %}active{% endif %}"><a href="{{ site.baseurl }}/contact.html"><span class="fa fw-fw fa-envelope"></span></a></li>
      </ul>
    </div>
  </div>
</div>
