### {{ type.name }} <a name="{{ type.name | slugify }}" ></a>

{% for irc_ver in site.data.irc_versions %}
{% capture irc_verkey %}{{ irc_ver[0] }}{% endcapture %}

{% capture anysupport %}
    {% for sw in type.software %}
        {% if sw.support contains irc_verkey %}
            Y
        {% endif %}
    {% endfor %}
{% endcapture %}

{% if anysupport contains "Y" %}
#### {{ irc_ver[1].name }} Support

<div class="sw-table"><table>
    <colgroup>
        <col class="name"></col>
        <col class="support" span="{{ irc_ver[1].specs | size }}"></col>
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            {% for ext in irc_ver[1].specs %}
            <th class="support-head"><a title="{{ ext[1].description }}" href="{{ ext[1].link }}">{{ ext[1].name }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sw in type.software %}
        <tr>
            <td>
                {% if sw.link %}<a href="{{ sw.link }}">{{ sw.name }}</a>{% else %}{{ sw.name }}{% endif %}
                {% if sw.dead %}<span class="dead-software">dead</span>{% endif %}
                {% if sw.os %}
                    <div class="os-support">
                    {% for name in sw.os %}
                        {% if site.data.os[name] %}
                            <i title="{{ site.data.os[name]["name"] }}" class="fa fa-{{ site.data.os[name]["icon"] }} os-support-{{ name | slugify }}"></i>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            </td>
            {% for ext in irc_ver[1].specs %}
            {% capture ext_name %}{{ ext[0] }}{% endcapture %}
            <td class="support {% if sw.support[irc_verkey] contains ext_name %}supported{% elsif sw.partial[irc_verkey] contains ext_name %}partial{% elsif sw.na[irc_verkey] contains ext_name %}na{% else %}unsupported{% endif %} {% if ext[1].required %}required{% else %}optional{% endif %}">
                {% if sw.support[irc_verkey] contains ext_name %}
                    {% assign capab = sw.support[irc_verkey][ext_name] %}
                    {% assign default = 'Yes' %}
                    {% include show_capability.html %}
                {% elsif sw.partial[irc_verkey] contains ext_name %}
                    {% assign capab = sw.partial[irc_verkey][ext_name] %}
                    {% assign default = 'Partial' %}
                    {% include show_capability.html %}
                {% elsif sw.na[irc_verkey] contains ext_name %}
                    {% assign capab = sw.na[irc_verkey][ext_name] %}
                    {% assign default = 'Not applicable' %}
                    {% include show_capability.html %}
                {% else %}
                    No
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endif %}
{% endfor %}
