{% capture support_key %}{{ support[0] }}{% endcapture %}

{% capture anysupport %}
    {% for sw in type.software %}
        {% if sw.support contains support_key or sw.partial contains support_key %}
            Y
        {% endif %}
    {% endfor %}
{% endcapture %}

{% capture supportedspecs %}{% for spec in support[1].specs %}{% if spec[1].deprecated %}{% else %}Y{% endif %}{% endfor %}{% endcapture %}

{% if anysupport contains "Y" %}
{% if hide_support_name %}{% else %}
#### {% if support_name %}{{ support_name }}{% else %}{{ support[1].name }} Support{% endif %}
{% endif %}

{% if support[1].note %}{{ support[1].note | markdownify }}{% endif %}

<div class="sw-table t-{{ support[1].name | slugify }}"><table>
    <colgroup>
        <col class="name" />
        <col class="support" span="{{ supportedspecs | size }}" />
    </colgroup>
    <thead>
        <tr>
            <th>Name</th>
            {% for ext in support[1].specs %}{% if ext[1].deprecated %}{% else %}
            <th class="support-head"><span><a class="spec-name" title="{{ ext[1].description }}" href="{{ ext[1].link }}">{{ ext[1].name }}</a></span></th>
            {% endif %}{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sw in type.software %}
        <tr>
            <td>
                {% if sw.link %}<a{% if sw.ircd-ver || sw.net-address %} class="bold"{% endif %} href="{{ sw.link }}">{{ sw.name }}</a>{% else %}{{ sw.name }}{% endif %}
                {% if sw.ircd-ver %}<span class="ircd-ver">{{ sw.ircd-ver }}</span>{% endif %}
                {% if sw.net-address %}<a class="net-address" href="{{ sw.net-address.link }}">{{ sw.net-address.display }}</a>{% endif %}
                {% if sw.dead %}<span class="dead-software">dead</span>{% endif %}
                {% if sw.os %}
                    <div class="os-support">
                    {% for name in sw.os %}
                        {% if site.data.os[name] %}
                            <i title="{{ site.data.os[name]["name"] }}" class="fa fa-{{ site.data.os[name]["icon"] }} os-support-{{ name | slugify }}"></i>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% if sw.sublinks %}
                    <div class="sw-sublinks">
                        {% for sublink in sw.sublinks %}
                            <a href="{{ sublink.link }}">{{ sublink.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
            {% for ext in support[1].specs %}
            {% capture ext_name %}{{ ext[0] }}{% endcapture %}{% if ext[1].deprecated %}{% else %}
            <td class="support {% if sw.support[support_key] contains ext_name %}supported{% elsif sw.partial[support_key] contains ext_name %}partial{% elsif sw.na[support_key] contains ext_name %}na{% else %}unsupported{% endif %} {% if ext[1].required %}required{% else %}optional{% endif %}">
                {% if sw.support[support_key] contains ext_name %}
                    {% assign info = sw.support[support_key][ext_name] %}
                    {% assign capab = '✔' %}
                    {% include show_capability.html %}
                {% elsif sw.partial[support_key] contains ext_name %}
                    {% assign info = sw.partial[support_key][ext_name] %}
                    {% assign capab = '~' %}
                    {% include show_capability.html %}
                {% elsif sw.na[support_key] contains ext_name %}
                    {% assign info = sw.na[support_key][ext_name] %}
                    {% assign capab = '✘' %}
                    {% include show_capability.html %}
                {% else %}
                    ✘
                {% endif %}
            </td>
            {% endif %}{% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endif %}
