        <tr>
            <th>
                <!-- Software -->
            </th>
            {% for ext in support[1].specs %}{% if ext[1].deprecated %}{% else %}
                {% capture ext_name %}{{ ext[0] }}{% endcapture %}

                {% capture should_show_spec %}
                    {% for sw in type.software %}
                        {% if ext[1].hide-on-servers and type.name contains "Servers" %}
                            
                        {% elsif ext[1].hide-if-no-support %}
                            {% if sw.support[support_key] contains ext_name or sw.partial[support_key] contains ext_name %}
                                Y
                            {% endif %}
                        {% elsif ext[1].draft %}
                            {% if sw.support[support_key] contains ext_name or sw.partial[support_key] contains ext_name or sw.na[support_key] contains ext_name %}
                                Y
                            {% endif %}
                        {% else %}
                            Y
                        {% endif %}
                    {% endfor %}
                {% endcapture %}

                {% if should_show_spec contains "Y" %}
                <th class="{% if ext[1].required %}required{% elsif ext[1].draft %}draft{% else %}optional{% endif %}"><a class="spec-name" title="{{ ext[1].description }}" href="{% if ext[1].ext_link %}{{ ext[1].ext_link }}{% else %}{{ site.baseurl }}{{ ext[1].link }}{% endif %}">{{ ext[1].name }}</a></th>
                {% endif %}
            {% endif %}{% endfor %}
        </tr>
