---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - IRCv3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/favicon/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/favicon/safari-pinned-tab.svg" color="#005960">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <meta name="msapplication-config" content="{{ site.baseurl }}/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta name="author" content="IRCv3 Working Group">
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description }}{% else %}IRCv3 Development Community{% endif %}">

    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" />
    
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/fonts.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/pure.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
      <script src="{{ site.baseurl }}/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body{% if layout.css_classes %} class="{{ layout.css_classes }}"{% endif %}>
    <div class="whole">
      {% include menu.html %}
      <div class="content container">
        {% if page.page-header %}
          {% capture mdph %}{{ page.page-header | markdownify }}{% endcapture %}
          {% include pageheader.html content=mdph %}
        {% endif %}
        {% include anchor_headings.html html=content anchorBody="🔗" anchorClass="anchor" %}
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="copylink">
          <span><a href="{{ site.baseurl }}" class="wglink">{% include logo-fordark.html %} <span class="wglink-text">Working Group</span></a> {% include copy.html %} {{ site.time | date: "%Y" }}</span>
          <span class="nomobile" style="margin: 0 0.7rem;">&middot;</span>
          <a class="nomobile rss-button" href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss-square"></i> RSS</a>
          <ul class="links nomobile" style="margin-top: 0.3rem">
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/wg.html">
              <span class="notablet">Working Group</span>
              <span class="tablet">WG</span>
            </a></li>
            <li><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
            <li><a href="{{ site.baseurl }}/irc/">
              <span class="notablet">Specifications</span>
              <span class="tablet">Specs</span>
            </a></li>
            <li class="iconsep"><a href="{{ site.github.owner_url }}"><span class="fa fw-fw fa-github"></span></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
