<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IRCv3 - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Andrew Northall">
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description }}{% else %}IRCv3 Development Community{% endif %}">

    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/ircv3-style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">

    <script src="{{ site.baseurl }}/js/anchor.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery-1.12.0.min.js"></script>

    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/js/html5shiv.min.js"></script>
      <script src="{{ site.baseurl }}/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="whole">
      {% include menu.html %} 
      <div id="content" class="container">
        {{ content }}
      </div>
    </div>
    <footer>
      <div class="container">
        <p>&copy; <a href="{{ site.baseurl }}/" style="color:black;">IRCv3 Working Group</a> {{ site.time | date: "%Y" }}</p>
      </div>
    </footer>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap-hover-dropdown.min.js"></script>
  </body>
</html>
