---
layout: default
css_classes: post
---

</div>

<div class="widebg"><div class="container content" style="padding: 1.5rem 0">

      <h2 style="margin-top: 0">Working Group Updates <a class="rss-button" href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss-square"></i> RSS</a></h2>

      <p>To see other WG updates, see the <a style="color: #fff" href="{{ site.baseurl }}/wg.html">Working Group page.</a></p>

</div></div>

<div class="container content">

<h2>{{ page.title }} <span class="meta">{{ page.date | date_to_string }}</span>{% if page.author %}<span class="meta"> by {{ page.author }}</span>{% endif %}</h2>

<div class="post">
{{ content }}
</div>
