---
layout: default
css_classes: post
---

</div>

<div id="home-slider-wrapper" class="post"><div class="container">

      <h3 style="margin-top: 2rem;">IRCv3 WG Updates <a style="padding: 0.6rem 0.6rem 0.2rem 0.6rem; border-radius: 0.4rem; background: #F2F2F2; margin-left: 1rem; font-size: 1.85rem; color: #cc6f0f" href="/feed.xml"><i class="fa fa-rss-square"></i> RSS</a></h3>

      <p style="margin-bottom: 2rem">To see other WG updates, see the <a href="{{ site.baseurl }}/wg.html">IRCv3 WG page.</a></p>

</div></div>

<div class="container">

<h2>{{ page.title }}</h2>
{% if page.author %}<p class="meta">{{ page.author }}</p>{% endif %}
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>
