---
layout: default
---
<div class="spec-header">
    <h1>{{ page.title | markdownify | replace:'<p>','' | replace:'</p>','' }}</h1>

    {% if page.copyrights %}
    <div class="copyrights">
    {% for copyright in page.copyrights %}
    <p>Copyright {% include copy.html %} {{ copyright.period }} {{ copyright.name }}{% if copyright.email %} &lt;{{ copyright.email }}&gt;{% endif %}</p>
    {% endfor %}
    <p>Unlimited redistribution and modification of this document is allowed provided that the above copyright notice and this permission notice remains intact.</p>
    </div>
    {% endif %}

    {% if page.updated-by %}
    <p class="spec-status">
        <strong>Updated by:</strong>
        {% for name in page.updated-by %}
            <a href="{{site.baseurl}}/specs{{site.data.specs[name].url}}">{{site.data.specs[name].name}}</a>{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% if page.updates %}
    <p class="spec-status">
        <strong>Updates:</strong>
        {% for name in page.updates %}
            <a href="{{site.baseurl}}/specs{{site.data.specs[name].url}}">{{site.data.specs[name].name}}</a>{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% if page.extends %}
    <p class="spec-status">
        <strong>Extends:</strong>
        {% for name in page.extends %}
            <a href="{{site.baseurl}}/specs{{site.data.specs[name].url}}">{{site.data.specs[name].name}}</a>{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% if page.extended-by %}
    <p class="spec-status">
        <strong>Extended by:</strong>
        {% for name in page.extended-by %}
            <a href="{{site.baseurl}}/specs{{site.data.specs[name].url}}">{{site.data.specs[name].name}}</a>{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
    </p>
    {% endif %}

    {% if page.deprecated %}
    <div class="alert alert-warning">
        {% if page.deprecated == true %}{% else %}{{ page.deprecated | markdownify }}{% endif %}

        <p>This specification has been deprecated. We do not recommend implementing this specification or the features described here.</p>
    </div>
    {% endif %}

    {% if page.work-in-progress %}
    <div class="alert alert-warning">
        <p>This specification is a work-in-progress and may have major incompatible changes without warning.</p>

        <p>This specification may change at any time and we do not recommend implementing it in a production environment.</p>
    </div>
    {% endif %}
</div>

<hr>

{{ content }}

<hr>

{% for spec in site.data.irc_versions.stable.specs %}
{% assign link = spec[1].link | split: "#" %}
{% if link[0] == page.url %}
    {% assign software_names = "" | split: "" %}
    {% for swlist in site.data.sw_servers %}
        {% for sw in swlist.software %}
            {% for specname in sw.support.stable %}
                {% if specname[0] == spec[0] %}
                    {% assign newname = '<a href="' %}
                    {% assign newname = newname | append: sw.link %}
                    {% assign newname = newname | append: '">' %}
                    {% assign newname = newname | append: sw.name %}
                    {% assign newname = newname | append: '</a>' %}
                    {% if software_names contains newname %}{% else %}
                        {% assign newname = newname | split: "!@#$%^&*(" %}
                        {% assign software_names = software_names | concat: newname %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% for swlist in site.data.sw_clients %}
        {% for sw in swlist.software %}
            {% for specname in sw.support.stable %}
                {% if specname[0] == spec[0] %}
                    {% assign newname = '<a href="' %}
                    {% assign newname = newname | append: sw.link %}
                    {% assign newname = newname | append: '">' %}
                    {% assign newname = newname | append: sw.name %}
                    {% assign newname = newname | append: '</a>' %}
                    {% if software_names contains newname %}{% else %}
                        {% assign newname = newname | split: "!@#$%^&*(" %}
                        {% assign software_names = software_names | concat: newname %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% for swlist in site.data.sw_libraries %}
        {% for sw in swlist.software %}
            {% for specname in sw.support.stable %}
                {% if specname[0] == spec[0] %}
                    {% assign newname = '<a href="' %}
                    {% assign newname = newname | append: sw.link %}
                    {% assign newname = newname | append: '">' %}
                    {% assign newname = newname | append: sw.name %}
                    {% assign newname = newname | append: '</a>' %}
                    {% if software_names contains newname %}{% else %}
                        {% assign newname = newname | split: "!@#$%^&*(" %}
                        {% assign software_names = software_names | concat: newname %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    {% for swlist in site.data.sw_services %}
        {% for sw in swlist.software %}
            {% for specname in sw.support.stable %}
                {% if specname[0] == spec[0] %}
                    {% assign newname = '<a href="' %}
                    {% assign newname = newname | append: sw.link %}
                    {% assign newname = newname | append: '">' %}
                    {% assign newname = newname | append: sw.name %}
                    {% assign newname = newname | append: '</a>' %}
                    {% if software_names contains newname %}{% else %}
                        {% assign newname = newname | split: "!@#$%^&*(" %}
                        {% assign software_names = software_names | concat: newname %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% if 0 < software_names.size %}
    <p>Software supporting {{ spec[1].name }}: {{ software_names | join: ", " }}</p>
    {% endif %}
{% endif %}
{% endfor %}
